# Composer
/vendor/
composer.phar

# PHPUnit
/.phpunit.result.cache
/.phpunit.cache

# IDEs
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Build & Cache
/build/
/dist/
/.cache/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
